<div class="bootstrap-wrapper">
  <div class="row mt20">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            Upload Excel Sheet
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form (submit)="onSubmitExcel()">
            <!-- Update accept attribute to accept Excel files -->
            <input type="file" accept=".xls, .xlsx" (change)="onFileSelected($event)" />
            <div class="container text-center mt20">
              <button mat-raised-button color="primary" type="submit">Add-Excel</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>