<mat-card>
<h1>Add new test</h1>
<div class="container">
<div class="row">
<div class="col-md-8 offset-2">
<form>

<mat-form-field class="w100">
    <mat-label>Title</mat-label>
   <input 
   [(ngModel)]="test.title"
   type="text" name="title" placeholder="Enter here" matInput/>
</mat-form-field>

<!-- description -->
<mat-form-field class="w100" appearance="fill">
    <mat-label>Description</mat-label>
   <textarea 
   [(ngModel)]="test.description"
   type="text" name="description" placeholder="Enter here" matInput></textarea>
</mat-form-field>
<div class="row">
    <!-- //marks to be displayed -->
<div class="col-md-6">
    <mat-form-field class="w100" appearance="fill">
        <mat-label>Max-Marks</mat-label>
       <input 
       [(ngModel)]="test.maxMarks"
       type="text" name="maxMarks" placeholder="Enter here" matInput/>
    </mat-form-field>
</div>
 <!-- //num of question to be displayed -->
<div class="col-md-6">
    <mat-form-field class="w100" appearance="fill">
        <mat-label>Number Of Questions</mat-label>
       <input 
       [(ngModel)]="test.numberofQuestions"
       type="text" name="numberOfQuestion" placeholder="Enter here" matInput/>
    </mat-form-field>
</div>
</div>

    <br/>
    <mat-slide-toggle
    name="active"
    [(ngModel)]="test.active"
        class="mt20 mb20"
        color="primary"
        checked="false">
      Active
    </mat-slide-toggle>
    <br/>

      <mat-card *ngFor="let q of questionsList; let i = index" class="mt20">
        <mat-card-content>
          <mat-checkbox (change)="onCheckboxChange(q)" [checked]="selectedQuestionsList.includes(q)" class="question-checkbox">
            <b> Q{{ i + 1 }} </b><span class="mt20" [innerHTML]="q.content"></span>
          </mat-checkbox>
          <!-- <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p><b>1)</b>{{ q.option1 }}</p>
              </div>
              <div class="col-md-6">
                <p><b>2)</b>{{ q.option2 }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><b>3)</b>{{ q.option3 }}</p>
              </div>
              <div class="col-md-6">
                <p><b>4)</b>{{ q.option4 }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><b>Marks</b>{{ q.marks }}</p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p><b>Correct Answer : </b>{{ q.answer }}</p>
          </div> -->
        </mat-card-content>
      </mat-card>
      

        <div class="container text-center mb20">
        <button mat-raised-button color="primary" (click)="addMcqTest()">ADD</button>
        </div>

</form>

</div>
</div>
</div>


</mat-card>